footer
  .container.text-center
    p.pull-left Charitourney© BattleHack NYC 2015
    ul.pull-right.list-inline
      li
        img(src='/images/braintree-logo.png' height="40")
      li
        img(src='/images/twitter-logo.png' height="40")
      li
        img(src='/images/twilio-logo.png' height = "40")
      li
        a(href='https://github.com/PaulSchnau/charitourney') GitHub Project
      li
        a(href='https://github.com/PaulSchnau/charitourney/issues') Issues
