extends layout

block content
  h1 Tournament 
  != css('main')
  
  #charity1.charity
    img(src="http://tampabayparadeofhomes.com/wp-content/uploads/ngg_featured/placeholder-square.jpg")

          
  
  
