extends layout

// added js and css files for modal in header.jade

block content
  h1 Tournament 
  != css('main')
  
  
  //- First Round
  .container-fluid
    
    a(href="#dialog", rel="modal:open") Simple Modal Window
    #boxes
      #dialog.window

    #ex1.modal(style='display:none;')
      p Thanks for clicking. That felt good.
        a(href='#', rel='modal:close') Close or press ESC

    .col-lg-3
  
      img(src='/images/0nbtfrrx.jpg', class="charity_img")
      br 
      img(src='/images/01gttvpg.png', class="charity_img") 
      br
      img(src='/images/5rvCDaG3.png', class="charity_img") 
      br
      img(src='/images/11202.jpg', class="charity_img") 
       
    .col-lg-6
      img(src="http://cdn2.winston.com/cached/40090/images/home-placeholder-circle.png", class="circle_img")
      
    .col-lg-3 
      br
      img(src='/images/bcrf_2014.jpg', class="charity_img") 
      br
      img(src='/images/foodbank41.jpg', class="charity_img") 
      br
      img(src='/images/logo_sop.jpg', class="charity_img") 
      br
      img(src='/images/MpC.jpg', class="charity_img") 
      br
              
block scripts
  script(src="/js/jquery.modal.js", type="text/javascript", charset="utf-8")
  script(src="/js/jquery.bpopup.min.js", type="text/javascript", charset="utf-8")

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  //- #charity1.charity.col-md-1
  //-   img(src="http://tampabayparadeofhomes.com/wp-content/uploads/ngg_featured/placeholder-square.jpg", class="charity_image")
  //- #charity2.charity.col-md-10
  //-   img(src="http://tampabayparadeofhomes.com/wp-content/uploads/ngg_featured/placeholder-square.jpg", class="charity_image")  
  //- //- #circle
  //- //-   img(src="http://cdn2.winston.com/cached/40090/images/home-placeholder-circle.png", class="circle")
  //- //- 
  //- #charity3.charity.col-md-1
  //-   img(src="http://tampabayparadeofhomes.com/wp-content/uploads/ngg_featured/placeholder-square.jpg", class="charity_image")
  //- #charity4.charity.col-sm-4
  //-   img(src="http://tampabayparadeofhomes.com/wp-content/uploads/ngg_featured/placeholder-square.jpg", class="charity_image")          
  //- #charity5.charity.col-sm-8
  //-   img(src="http://tampabayparadeofhomes.com/wp-content/uploads/ngg_featured/placeholder-square.jpg", class="charity_image")          
  //- #charity6.charity.col-sm-4
  //-   img(src="http://tampabayparadeofhomes.com/wp-content/uploads/ngg_featured/placeholder-square.jpg", class="charity_image")          
  //- #charity7.charity.col-sm-8
  //-   img(src="http://tampabayparadeofhomes.com/wp-content/uploads/ngg_featured/placeholder-square.jpg", class="charity_image")          
  //- #charity8.charity.col-sm-4
  //-   img(src="http://tampabayparadeofhomes.com/wp-content/uploads/ngg_featured/placeholder-square.jpg", class="charity_image")          
