extends layout

block content
  h1 Tournament 
  != css('main')
  
  
  //- First Round
  .container-fluid
  
    col1.col-lg-3
      br
      img(src="http://tampabayparadeofhomes.com/wp-content/uploads/ngg_featured/placeholder-square.jpg", class="charity_img") 
      br
      img(src="http://tampabayparadeofhomes.com/wp-content/uploads/ngg_featured/placeholder-square.jpg", class="charity_img") 
      br
      img(src="http://tampabayparadeofhomes.com/wp-content/uploads/ngg_featured/placeholder-square.jpg", class="charity_img") 
      br
      img(src="http://tampabayparadeofhomes.com/wp-content/uploads/ngg_featured/placeholder-square.jpg", class="charity_img") 
      br
               
    col2.col-lg-6
      img(src="http://cdn2.winston.com/cached/40090/images/home-placeholder-circle.png", class="circle_img")
    
    col3.col-lg-3 
      br
      img(src="http://tampabayparadeofhomes.com/wp-content/uploads/ngg_featured/placeholder-square.jpg", class="charity_img") 
      br
      img(src="http://tampabayparadeofhomes.com/wp-content/uploads/ngg_featured/placeholder-square.jpg", class="charity_img") 
      br
      img(src="http://tampabayparadeofhomes.com/wp-content/uploads/ngg_featured/placeholder-square.jpg", class="charity_img") 
      br
      img(src="http://tampabayparadeofhomes.com/wp-content/uploads/ngg_featured/placeholder-square.jpg", class="charity_img") 
      br
              
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  //- #charity1.charity.col-md-1
  //-   img(src="http://tampabayparadeofhomes.com/wp-content/uploads/ngg_featured/placeholder-square.jpg", class="charity_image")
  //- #charity2.charity.col-md-10
  //-   img(src="http://tampabayparadeofhomes.com/wp-content/uploads/ngg_featured/placeholder-square.jpg", class="charity_image")  
  //- //- #circle
  //- //-   img(src="http://cdn2.winston.com/cached/40090/images/home-placeholder-circle.png", class="circle")
  //- //- 
  //- #charity3.charity.col-md-1
  //-   img(src="http://tampabayparadeofhomes.com/wp-content/uploads/ngg_featured/placeholder-square.jpg", class="charity_image")
  //- #charity4.charity.col-sm-4
  //-   img(src="http://tampabayparadeofhomes.com/wp-content/uploads/ngg_featured/placeholder-square.jpg", class="charity_image")          
  //- #charity5.charity.col-sm-8
  //-   img(src="http://tampabayparadeofhomes.com/wp-content/uploads/ngg_featured/placeholder-square.jpg", class="charity_image")          
  //- #charity6.charity.col-sm-4
  //-   img(src="http://tampabayparadeofhomes.com/wp-content/uploads/ngg_featured/placeholder-square.jpg", class="charity_image")          
  //- #charity7.charity.col-sm-8
  //-   img(src="http://tampabayparadeofhomes.com/wp-content/uploads/ngg_featured/placeholder-square.jpg", class="charity_image")          
  //- #charity8.charity.col-sm-4
  //-   img(src="http://tampabayparadeofhomes.com/wp-content/uploads/ngg_featured/placeholder-square.jpg", class="charity_image")          
