@import "vendor/bootstrap/bootstrap";
@import "vendor/font-awesome/font-awesome";
@import "vendor/bootstrap-social";
@import "themes/default";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 75px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p,
  ul {
    margin-bottom: 0;
  }
}

// Home
//__________________________

h1 {
  font-family: HelveticaNeue-Light;
  font-size: 75px;
  text-align: center;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa,
[class^='ion-'] {
  margin-right: 6px;
}

// Tournament

.charity_img {
  display: block;
   max_width: 150px;
   max-height: 150px;
   padding: 5px;
   float: none;
   margin: 0 auto;
   box-shadow: 10px 10px 5px #888888;
}

.circle_img {
  display: block;
  float: none;
  margin: 0 auto;
  max-width: 400px;
  margin-top: 15em;
}


// Twitter Button

.navbar-right .btn-social {
  margin: 7px 0;
}

// Battle

.charity1 {
  display: inline-block;
  width: 400px;
  height: 400px;
  background-color: red;
  margin: 10%;
  text-align: right;
}

.charity2 {
  display: inline-block;
  width: 400px;
  height: 400px;
  background-color: pink;
  text-align:right;
}

.charity{
  box-shadow: 10px 10px 5px #888888;
}
