extends ../layout

block content
  h1 Join Current Tournament
  .row
    form#join_tournament.col-sm-8(method='post', action=tournament.id)
      input(type='hidden', name='_csrf', value=_csrf)
      input(type='text', name='payment_amount', placeholder='Amount')
      div#payment-form
      input(type='submit', value='Pay')

  script(src='https://js.braintreegateway.com/v2/braintree.js')
  script.
      braintree.setup("#{clientToken}", "dropin", {
        container: "payment-form"
      });